

<form [formGroup]="bookmarkForm" class="custom-tree">
  <div class="header">
    <input formControlName="searchText" type="text" (keyup)="onSearch()" autofocus>
  </div>
  <tree-ngx [nodeItems]="displayTreeView" [filter]="filterText" [callbacks]="callbacks" [options]="options">
    <ng-template #nodeNameTemplate let-node="node" let-context="context">
      <div class="node-name-container" draggable="true" (dragstart)="drag($event, node)" (drop)="drop($event, node)"
        (dragover)="allowDrop($event)" [contextMenu]="basicMenu" [contextMenuSubject]="node"
        [tabindex]="node.item.url?0:-1" (keyup.enter)="nodeNameEntered(node.item.url)" fxLayout="row">
        <img class="icon" *ngIf="node && node.item && node.item.url"
          [src]="'https://s2.googleusercontent.com/s2/favicons?domain='+node.item.url" fxLayoutAligh="center start">
        <img class="icon" *ngIf="!(node && node.item && node.item.url)" src="../images/Folder_Icon_16.png"
          fxLayoutAligh="center start">
        <span class="name" [class.active]="context.active"
          fxLayoutAligh="center start">{{truncateNodeName(node.title)}}</span>
      </div>
    </ng-template>
  </tree-ngx>
</form>

<context-menu (open)="sidemenuOpenned($event)">
  <ng-template contextMenuItem let-item [passive]=true>
    <div fxLayout="column">
      <input fxLayoutAlign="center start" type="text" [placeholder]="item.title" [(ngModel)]="item.newTitle"
        [value]="item.newTitle">
      <input fxLayoutAlign="center start" *ngIf="item.url" type="text" [placeholder]="item.url"
        [(ngModel)]="item.newUrl" [value]="item.newUrl">
      <button fxLayoutAlign="center start" (click)="updateNode(item)">
        <i class="fa fa-angle-double-right"></i>
      </button>
    </div>
  </ng-template>
</context-menu>

