form{
  width: 800px;
  height: 800px;
  scrollbar-width: none;
  .header{
    position: fixed;
    right: 10px;
    top: 10px;
  }
  input{
    margin-left: 10px;border-radius: 5px;
  }
  .node-container{
    display: flex !important; 
    justify-content: center !important;
    .node-name{
      .node-name-container{
        align-items: flex-end !important;
        display:  inline-flex !important;
        padding: 5px 0px 5px 7px !important;
        .icon{
          height: 10px;
        }
        .name{
          margin-left: 10px !important;
        }
      }
    }
  }
}
